BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
ColumnLimit: 300

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

# Reordering #include statements can (and currently will) introduce errors
SortIncludes: false

# Style choices
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
IndentPPDirectives: BeforeHash

# 括号风格 - 左括号换行
# BreakBeforeBraces: Allman
BreakBeforeBraces: Attach
# 模板参数格式化
AlwaysBreakTemplateDeclarations: Yes

# 函数参数格式化 - 每个参数都换行
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None

# 对齐和缩进
AlignAfterOpenBracket: BlockIndent
IndentWrappedFunctionNames: true
ContinuationIndentWidth: 4

# 换行惩罚设置 - 鼓励换行
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakTemplateDeclaration: 1

IncludeCategories:
  - Regex:           '^<'
    Priority:        4
  - Regex:           '^"(llvm|llvm-c|clang|clang-c|mlir|mlir-c)/'
    Priority:        3
  - Regex:           '^"(qoda|\.\.)/'
    Priority:        2
  - Regex:           '.*'
    Priority:        1